#vertical-align {
    position: relative;
    top:225px ;
}

#enter-city{
    position: relative;
    top: 200px;
}

html, body {
    background: url(/images/sunny.jpg) no-repeat center center fixed;
    background-size: cover;
    background-size: 1920px 1080px;
}

#card1 {
    width: 300px;
    height: 120px;
}

#mac{
    padding-left: 100px;
    padding-bottom: 50px;
}

#and{
    padding-left: 100px;
    padding-bottom: 50px;

}

#cheese{
    padding-left: 70px;
    padding-bottom: 50px;

}